@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Roboto:wght@400;500;700&display=swap');

.Homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px 0px 0px;
  text-align: center;
  background-color: #dfdfde;
}

.main-title {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 38px;
  font-weight: bold;
  font-family: 'Covered By Your Grace' !important;
  color: #3b89a0;
}

.welcome-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
}

.welcome-text {
  display: flex;
  width: 580px;
  font-size: 20px;
  font-weight: bold;
}

.second-text {
  color: #3b89a0;
}

.photo {
  margin-top: 20px;
  width: 22%;
  border-radius: 45%;
}

.data-photo {
  display: none;
}

@media (max-width: 768px) {
  .welcome-title {
    width: 320px;
  }

  .welcome-text {
    font-size: 18px;
  }

  .photo {
    margin-top: 20px;
    width: 50%;
  }
}
