/* select {
  width: 10px;
}

.Filters {
  width: 400px;
}

.form-div {
  width: 300px;
  margin: auto;
} */

.select-label {
  font-family: 'Covered By Your Grace' !important;
  font-size: 24px;
  font-weight: 500;
  color: #1e1b5e;
}
