.containerFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #d65780;
  height: 100px;
  border-top: 5px solid #cecece;
  border-bottom: 5px solid #cecece;
  line-height: 18px;
  font-size: 13px;
  padding: 10px 20px;
}

a:link {
  width: 130px;
  color: whitesmoke;
}

a:visited {
  color: whitesmoke;
}

.containerFooter {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.copyRight {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footerList {
  margin: 0px auto;
}

.icon {
  width: 18px;
  margin: 0px 3px;
}
.copy {
  margin-left: 10px;
}

@media (max-width: 900px) {
  .containerFooter {
    display: flex;
    align-items: center;
  }
  .footerList {
    width: 250px;
    text-align: center;
  }
}
